---
import Layout from '../../layouts/Layout.astro';
import VistaNoticiasGrid from '../../components/views/VistaNoticiasGrid';
---

<Layout title="Act. Académicas">
    <VistaNoticiasGrid client:only="react" />
    <div class="mb-auto"></div>
</Layout>


