---
import Layout from '../../../../layouts/Layout.astro';
import NoticiaEditor from '../../../../components/noticias/editNoticia';

const { id } = Astro.params;
---

<Layout title="Editar Noticia">
  <main>
    <NoticiaEditor client:only="react" noticiaId={id} />
  </main>
</Layout>

