---
import Layout from '../../layouts/Layout.astro';
import UserProfile from '../../components/user/UserProfile';
import Pastilla from '../../components/ActAcademicas/detalle/Pastilla.astro';
import AutenticacionRequerida from '../../components/auth/AutenticacionRequerida';
const { uid } = Astro.params;
---

<Layout title="Perfil">
  <Pastilla 
    title="Perfil de usuario"
  />

  <AutenticacionRequerida client:only = "react">
      <UserProfile client:only="react" userId={uid}/>
      <div class="mb-20"></div>
  </AutenticacionRequerida>

</Layout>

