---
import Layout from '../../layouts/Layout.astro';
import VistaCardGrid from '../../components/views/VistaCardGrid';
---

<Layout title="Cursos">
    <VistaCardGrid client:only="react" />
    <div class="mb-auto"></div>
</Layout>


