---
import Layout from '../../../../layouts/Layout.astro';
import CourseEditor from '../../../../components/CourseEditor';

const { id } = Astro.params;
---

<Layout title="Editar Curso">
  <main>
    <CourseEditor client:only="react" courseId={id} />
  </main>
</Layout>

