---
import Header from '../components/layout/Header.astro';	
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import Footer from '../components/layout/Footer.astro';
import LoadingSpinner from '../components/common/LoadingSpinner.jsx';
import MostrarNav from '../components/layout/MostrarNav.tsx';

interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Colegio de enfermeria de la ciudad del Chaco" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/media/cechLogo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col bg-gray-50">
		<div class="z-50">
			<LoadingSpinner client:only="react" />
		</div>
		<ViewTransitions />
		<Header />
		<div class=" self-end lg:self-auto">
			<MostrarNav client:only="react" />
		</div>
	
		<main class="flex overflow-hidden">
			<slot />
		</main>

		<Footer 
			logoSrc="/media/cechLogo.png"
			copyrightText="Todos los derechos reservados"
			instagramLink="https://www.instagram.com/cech.instituto/"
			facebookLink="https://www.facebook.com/cech.instituto/"
		/>
	</body>
</html>